<%= render WorldbadgesWeb.SharedView, "_creation_js.html" %>

<div class="row">
  <%= render WorldbadgesWeb.SharedView, "_control_bar.html", conn: @conn, current_persona: @current_persona %>

  <div class="col-sm-10">
    <%= render "_head.html" %>

    <div id="opt-group">
      <%#= render "_edit_form.html", Map.put(assigns, :action, group_path(@conn, :update, unparse_name(@group.name), group_type: @group_type)) %>
    </div>
  </div>
</div>
