<%= render WorldbadgesWeb.SharedView, "_creation_js.html" %>

<div class="row">
  <%= render WorldbadgesWeb.SharedView, "_control_bar.html", conn: @conn, current_persona: @current_persona %>

  <div class="col-sm-10">
    <%= render "_head.html" %>

    <div id="opt-group">
      <%#= render "_form.html", conn: @conn, action: group_path(@conn, :create), contacts: @contacts, pages: @pages %>
    </div>
  </div>
</div>
